/.DS_Store
/.venv
/__pycache__
/check_frequency.conf
/cookies.txt
/critical_errors.log
/last_video_id.cache
/mtime.txt
/urls.log
/urls.txt
/monitor.pid
/wgmm_config.json
/local_known.txt
/temp_info_json
/tmp_outputs
/.env
/.vscode
/miss_history.txt
/.claude
/.ruff_cache